  <div class="container mt-5">
    <h2>Orders</h2>
    <div class="row">
      <div class="col-md-4 mb-3 card-container">

        <a routerLink="/add-orders" class="btn btn-brown mt-5" *ngIf="user && user['role'] == 'customer'">Create a New Order</a>
        
        <!-- Use *ngFor to iterate over orders and create a card for each order -->
        <div class="card card-brown" *ngFor="let order of orders">
          <div class="card-body">
            <h5 class="card-title">Customer: {{ order.first_name }} {{ order.last_name }}</h5>
            <p class="card-text">Order Date: {{ order.order_date | date: 'dd-MM-yyyy hh:mm a' }}</p>
            <p class="card-text">Total Amount: {{ order.total_amount | currency }}</p>
            <p class="card-text">Status: {{ order.status == 'c' ? "Complete" : "Pending" }}</p>
            <a class="btn btn-brown" routerLink="/view-order-details/{{ order['id'] }}">View Details</a>
             <div *ngIf=" user && user['role'] == 'ADMIN'" class="action ">
            <a class="btn btn-danger m-2" (click)="selectDelete(order.id, order.first_name)">Delete</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>