<div class="container">
    <div class="text">
        <h1>Welcome to ELIXIR CAFE!</h1>
        <p>"Indulge in the Magic of Every Sip!"</p>
        <button type="button" class="btn btn-outline" routerLink="/about">Learn More</button>
    </div>
    <div class="hero-image">
        <img src="https://www.picng.com/upload/cappuccino/png_cappuccino_10994.png" alt="Elixir Cafe Image">
    </div>
</div>

<h2>Popular Selections</h2>
<div class="card-container">
    <div class="card" style="width: 20rem;">
        <img src="https://s3.amazonaws.com/order.hazelnutcoffeecompany.com.sites.diner.space/product/0a67ed196261d0/tn.600x600.png"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Americano</h5>
            <p class="card-text">Espresso with hot water, creating a bold and smooth coffee. </p>
            <a routerLink="/beverages" class="btn btn-primary">See Menu</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; height: 285px;">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/017/394/931/small_2x/cup-of-hot-cappuccino-coffee-illustration-generative-ai-png.png"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cappuccino</h5>
            <p class="card-text">Espresso topped with steamed milk and a layer of foamed milk.</p>
            <a routerLink="/beverages" class="btn btn-primary">See Menu</a>
        </div>
    </div>
    <div class="card" style="width: 20rem;">
        <img src="https://img.pikbest.com/origin/09/21/73/57JpIkbEsTrXR.png!sw800" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Latte</h5>
            <p class="card-text">Espresso with steamed milk and a small amount of frothed milk.
            </p>
            <a routerLink="/beverages" class="btn btn-primary">See Menu</a>
        </div>
    </div>
    <div class="card" style="width: 20rem;">
        <img src="https://www.bridor.com/medias/sys_master/images/images/hba/h9a/8897741062174/HR-Q-33442-34420-Croissant-Fourre-Cacao-Noisettes-FO.png"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Chocolate Croissant</h5>
            <p class="card-text">A flaky croissant filled with rich chocolate.</p>
            <a routerLink="/breakfast" class="btn btn-primary">See Menu</a>
        </div>
    </div>
    <div class="card" style="width: 20rem; height: 275px;">
        <img src="https://media.istockphoto.com/id/516854096/photo/tasty-blueberry-muffin-isolated-on-a-white.jpg?s=612x612&w=0&k=20&c=Pds_1sk3e5WShAFYGAu-p93iMduukW3EuqcZ3D3aSrs="
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Blueberry Muffin</h5>
            <p class="card-text">A classic muffin bursting with juicy blueberries.</p>
            <a routerLink="/breakfast" class="btn btn-primary">See Menu</a>
        </div>
    </div>
    <div class="card" style="width: 20rem;">
        <img src="https://png.pngtree.com/png-clipart/20231107/original/pngtree-cinnamon-roll-png-image_13512672.png"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cinnamon Roll</h5>
            <p class="card-text">Soft and fluffy roll swirled with cinnamon and sugar. </p>
            <a routerLink="/breakfast" class="btn btn-primary">See Menu</a>
        </div>
    </div>

</div>