<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h2 class="text-center mb-4">Shopping Cart</h2>
      <div *ngIf="cartItems.length === 0" class="text-center">
        Your cart is empty.
      </div>
      <div *ngFor="let item of cartItems" class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="http://localhost:5555/uploads/{{item.image}}" class="img-fluid rounded-start" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ item.item }}</h5>
              <p class="card-text">Price: {{ item.price }}</p>
              <button class="btn btn-danger" (click)="removeFromCart(item)">
                Remove
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let item of cartItems" class="container2 mt-5">
    <button class="btn btn-brown">
      <a routerLink="/view-order-details/${{ item.order_id }}">View Order Details</a>
    </button>
  </div>
</div>

