<div class="container">
    <h1>Edit Breakfast Item</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a routerLink="/breakfast">Back to Menu</a></li>
        </ol>
    </nav>

    <form #updateBreakfastForm="ngForm" (ngSubmit)="updateBreakfast(updateBreakfastForm)">

    <div class="form-group">
    <label for="item_nm">Item Name</label>
    <input type="text" class="form-control" id="item_nm" name="item_nm" ngModel="{{breakfast?.item_name}}" required placeholder="Enter Item name">
    </div>

    <div class="form-group">
        <label for="descrip"> Description</label>
        <input type="text" class="form-control" name="descrip" id="descrip" ngModel="{{breakfast?.description}}" required placeholder="Enter description">
    </div>
    
    <div class=" form-group my-2">
        <label for="img">Image</label>
        <input type="file" (change)="onFileChange($event)" name="img" id="img" ngModel class="form-control">
    </div>
    
    <div class="form-group">
        <label for="prce">Price</label>
        <input type="text" class="form-control" id="prce" name="prce" ngModel="{{breakfast?.price}}" required placeholder="Enter Price of Item">
    </div>

    <button type="submit" class="btn btn-warning">Save Changes</button>
</form>
</div>