  body {
            font-family: Arial, sans-serif;
            color: #6F4323 ;
        }
        .container {
            margin-top: 50px;
        }
        .map-container {
            margin-top: 30px;
        }